@mixin dark_background {
	background: rgba(0, 0, 0, .83);
}

body {
	@include dark_background;
}

.card-inverse {
	background-color: #333;
	border-color: #333;
}

.display-2 {
	text-shadow: 1px 1px 1px ;

	sup {
		color: gray;
	}
}
.profile-sections {
	background-color: #333;
}

.view-profile {
	cursor: pointer;
}

.share-div {

	font-size: 1.6rem;
}
