@mixin dark_background {
	background: rgba(0, 0, 0, .83);
}

body {
	@include dark_background;
}

.card-inverse {
	background-color: #333;
	border-color: #333;
}

.profile-sections {
	background-color: #333;
}

.view-profile {
	cursor: pointer;

	// &:hover {
  //   -webkit-animation: pulse 1s;
  //   animation: pulse 1s;
	// }
}

.share-div {

	font-size: 1.6rem;
}
