<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/nav/guest" %>
    <div class="container">
      <% flash.each do |color, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{color}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
